<li id="comment-<%= comment.id %>">

	<%= image_tag "#{comment.user.profile_picture}?width=80" %>
	<h4>
		<%= comment.user.name %>
		<span><%= time_ago_in_words(comment.created_at) %> ago</span>
		<% if can? :destroy, comment %>
			<span><%= link_to "Delete", comment_url(comment), confirm: 'Are you sure?', method: :delete, remote: true %></span>
		<% end %>
	
	</h4>

	<div class="content-body"><%= simple_format(comment.comment) %></div>
	
</li>
