<div class="comments-pane">
	<div class="close-comments-pane">X</div>
	<div class="heading">
		<h3>Comments</h3>
		<p>
			<%= link_to raw(@commentable.headline), @commentable.url, :rel => "nofollow", :target => '_blank' if @commentable.class.name == 'Post' %>
			<%= @commentable.name if @commentable.class.name == 'Poll' %>
		</p>
	</div>
	
	<% if current_user %>
		<%= render 'comments/form' %>
	<% else %>
		<%= link_to user_omniauth_authorize_path(:facebook), :class => 'facebook-login' do %>Login with Facebook to add a comment. <span>We'll never post to your feed.</span><% end %>
	<% end %>
	
	<ul id="list-comments">
	<% if @comments.count != 0 %>
		<% @comments.each do |comment| %>
			<%= render 'comments/comment', :comment => comment if !comment.parent_id %>
		<% end %>
	<% else %>
		<p><em>No comments yet— you should add one!</em></p>
	<% end %>
</ul>
	

	<br class="clear"><br><br>

</div>