<li id="comment-<%= comment.id %>">

	<!--<%= image_tag "#{comment.user.profile_picture}?width=80" %>-->
	<h4>
		<%= comment.user.name %>
		<span><%= time_ago_in_words(comment.created_at) %> ago</span>
	</h4>

	<div class="comment-body">
		<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new( link_attributes: {rel: "nofollow", target: "_blank" }), autolink: true)  %>
		<%= markdown.render(comment.comment).html_safe %> 
	</div>

	<div class="comment-meta">
		
		<%= render 'voter', :comment => comment %>
		<% if current_user %>
			<span>
			<%= link_to "Reply", parent_reply_poll_comment_url(@commentable.id, comment), remote: true, :class => 'reply' if comment.commentable_type == "Poll" %>
			<%= link_to "Reply", parent_reply_post_comment_url(@commentable.id, comment), remote: true, :class => 'reply' if comment.commentable_type == "Post" %>
			</span> 
		<% end %>
		<% if can? :update, comment %>
			<span>
				<%= link_to "Edit", edit_poll_comment_url(@commentable.id, comment), remote: true, :class => 'reply' if comment.commentable_type == "Poll"  %>
				<%= link_to "Edit", edit_post_comment_url(@commentable.id, comment), remote: true, :class => 'reply' if comment.commentable_type == "Post"  %>
			</span> 
		<% end %>
		<% if can? :destroy, comment %>
			<span>
				<%= link_to "Delete", poll_comment_url(@commentable.id, comment), confirm: 'Are you sure?', method: :delete, remote: true, :class => 'reply' if comment.commentable_type == "Poll" %>
				<%= link_to "Delete", post_comment_url(@commentable.id, comment), confirm: 'Are you sure?', method: :delete, remote: true, :class => 'reply' if comment.commentable_type == "Post" %>
			</span>
		<% end %>
	</div>
	
	
	<% if comment.children.first %>
		<ul><% comment.children.each do |comment_children| %>
			<%= render 'comments/comment', :comment => comment_children %>
		<% end %></ul>
	<% end %>
	
	
	
</li>