<li id="comment-<%= comment.id %>">

	<!--<%= image_tag "#{comment.user.profile_picture}?width=80" %>-->
	<h4>
		<%= comment.user.name %>
		<span><%= time_ago_in_words(comment.created_at) %> ago</span>
	</h4>

	<div class="comment-body">
		<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new( link_attributes: {rel: "nofollow", target: "_blank" }), autolink: true)  %>
		<%= markdown.render(comment.comment).html_safe %> 
	</div>

	<div class="comment-meta">
		
		<%= render 'voter', :comment => comment %>
		<% if current_user %>
			<span><%= link_to "Reply", parent_reply_comment_url(comment), remote: true, :class => 'reply'  %></span> 
		<% end %>
		<% if can? :update, comment %>
			<span><%= link_to "Edit", edit_comment_url(comment), remote: true  %></span> 
		<% end %>
		<% if can? :destroy, comment %>
			<span><%= link_to "Delete", comment_url(comment), confirm: 'Are you sure?', method: :delete, remote: true %></span>
		<% end %>
	</div>
	
</li>
	
	<% if comment.children.first %>
		<ul><% comment.children.each do |comment_children| %>
			<%= render 'comments/comment', :comment => comment_children %>
		<% end %></ul>
	<% end %>
	
	
