<div class='comment-form'>

	<%= form_for(@comment, remote: true) do |f| %>

		<% if @comment.errors.any? %>
		  <div id="error_explanation">
		    <p><strong><%= pluralize(@post.errors.count, "error") %> prohibited this comment from being saved:</strong></p>

		    <ul>
		    <% @comment.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	
		<%= f.hidden_field :commentable_id, :value => @parent_item.id %>
		<%= f.hidden_field :commentable_type, :value => params[:type].singularize.capitalize %>
		<%= f.hidden_field :parent_id, :value => @parent_id if @parent_id %>
		<div class="field">
			<%= f.text_area :comment %>
		</div>
		
		<ul class="formatting">
			<li>*italics*</li>
			<li>**bold**</li>
			<li>[Link Name](Link URL)</li>
		</ul>

		<div class="submit">
			<a href="javascript:;" id="formatting-help">Formatting</a>
			<%= f.submit "Publish Comment" %>
		</div>

	<% end %>

</div>