<%= render('comments', :comments => @commentable.comments) %>

<div class="wrapper">
		<div class="newsfeed"> 

			<%= render 'posts/posts', :posts => @day_1 %>
			<% if @day_1.count != 0 %>
			<div class="newsletter">
				<p>Get the Village Daily Brief in your inbox:</p>
				<script type="text/javascript" src="https://stevebenjamins.formstack.com/forms/js.php/untitled_form14"></script>
			</div>
			<% end %>
	
			<%= render 'posts/posts', :posts => @day_2 %>
			<% if @day_1.count == 0 && @day_2.count != 0 %>
			<div class="newsletter">
				<p>Get the Village Daily Brief in your inbox:</p>
				<script type="text/javascript" src="https://stevebenjamins.formstack.com/forms/js.php/untitled_form14"></script>
			</div>
			<% end %>

			<%= render 'posts/posts', :posts => @day_3 %>

			<%= render 'posts/posts', :posts => @day_4 %>
			<%= render 'posts/posts', :posts => @day_5 %>
			<%= render 'posts/posts', :posts => @day_6 %>
			<%= render 'posts/posts', :posts => @day_7 %>

		</div>
		<br class="clear">
</div>