<div class="nested-fields">

	<%= image_tag f.object.image.url(:small) if f.object.image %>
    <%= image_tag "no-image.jpg" if f.object.image.blank? %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :description, :placeholder => "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :url, :placeholder => "Url" %>
  </div>
	<div class="field left-label">
	  	<%= f.file_field :image %>
	</div>
  <%= link_to_remove_association "X", f, :class => 'remove' %>
</div>
