<div class='form'>

	<%= form_for([@post]) do |f| %>

		<% if @post.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this stefe from being saved:</h2>

		    <ul>
		    <% @post.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	
		<div class="field">
			<%= f.label :headline %>
			<%= f.text_field :headline, :autofocus => true %>
		</div>
		<div class="field">
			<%= f.label :url %>
			<%= f.text_field :url %>
		</div>
		<div class="field">
			<%= f.label :image %>
		  	<%= f.file_field :image %>
		</div>
		<div class="field">
			<%= f.label :featured %>
		  	<%= f.check_box :featured %>
		</div>

		<div class="submit">
			<%= f.submit %>
		</div>

	<% end %>

</div>