<% if posts.first %>
	<h2><span><%= newsfeed_date(posts.first.created_at) %></span></h2>
	<ul>
		<!-- Featured Post -->
		<% posts.each_with_index do |post, index| %>
			<% if post.featured %>
			<li class="featured">
				<%= link_to out_url(post.id), :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url) do %>
				<%= image_tag post.image.url(:large) if post.image %>
				<% end %>
				
				
				<h3>
					<span class="headline">
						<%= link_to raw(post.headline), out_url(post.id), :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url)  %> 
					</span>
					<span class="comments"><%= get_host_without_www(post.url) %></span>
				</h3>
				<hr>
				<% if params[:stats] %><span class="clicks"><%= post.clicks %></span<% end %>
				<% if can? :update, post %>
					<div class="meta">
						<%= link_to "Edit", edit_post_url(post)  %>
							<%= link_to "Delete", post_url(post), confirm: 'Are you sure?', method: :delete %>
					</div>
				<% end %>					
			</li>

			<% end %>
		<% end %>

		<!-- Other Posts -->
		<% posts.each_with_index do |post, index| %>
			<% if !post.featured %>
			<li>
				<h3>
					<span class="headline">
						<%= link_to raw(post.headline), out_url(post.id), :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url)  %>  
					</span>
					<span class="comments"><%= get_host_without_www(post.url) %></span>
					</h3>
				<% if params[:stats] %><span class="clicks"><%= post.clicks %></span<% end %>
				<% if can? :update, post %>
					<div class="meta">
						<%= link_to "Edit", edit_post_url(post)  %>
						<%= link_to "Delete", post_url(post), confirm: 'Are you sure?', method: :delete %>
					</div>
				<% end %>
			</li>
			<% end %>

		<% end %>
	</ul>

<% end %>