<% if posts.first %>
	<h2><span><%= newsfeed_date(posts.first.created_at) %></span></h2>
	<ul>
		<!-- Featured Post -->
		<% posts.each_with_index do |post, index| %>
			<% if post.featured %>
			<li class="featured">
				<%= link_to out_url(post.id), :target => "_blank", :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url) do %>
				<%= image_tag post.image.url(:large) if post.image %>
				
				<h3><%= raw(post.headline) %> <span><%= get_host_without_www(post.url) %></h3>
				<% end %>
				<HR>
				<% if params[:stats] %><span class="clicks"><%= post.clicks %></span<% end %>
			</li>

			<% end %>
		<% end %>

		<!-- Other Posts -->
		<% posts.each_with_index do |post, index| %>
			<% if !post.featured %>
			<li>
				<%= link_to out_url(post.id), :target => "_blank", :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url) do %>
				<h3><%= raw(post.headline) %> <span><%= get_host_without_www(post.url) %></h3>
				<% end %>
				<% if params[:stats] %><span class="clicks"><%= post.clicks %></span<% end %>
			</li>
			<% end %>
		<% end %>
	</ul>

<% end %>