<div class="newsfeed"> 

	<%= render 'posts', :posts => @day_1 %>
	<%= render 'posts', :posts => @day_2 %>
	<%= render 'posts', :posts => @day_3 %>
	<%= render 'posts', :posts => @day_4 %>
	<%= render 'posts', :posts => @day_5 %>
	<%= render 'posts', :posts => @day_6 %>
	<%= render 'posts', :posts => @day_7 %>
	
</div>

