<div class="newsfeed">
	
	<% @day_of_posts.sort.each do |day, posts| %>
		<h3><%= newsfeed_date(day) %></h3>
		
		<ul>
		<% for post in posts %>
			<li>
				<%= link_to out_url(post.id), :target => "_blank", :rel => 'nofollow', :headline => post.headline, :domain => get_host_without_www(post.url) do %>
					<%= raw(post.headline) %>
					<span><%= get_host_without_www(post.url) %></span>
				<% end %>
				<% if params[:stats] %><span class="clicks"><%= post.clicks %></span<% end %>
			</li>
		<% end %>
		</ul>
	<% end %>
	

	
</div>