<script src="//cdn.optimizely.com/js/986766402.js"></script>
<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//use.typekit.net/irv8fcc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>">	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-194873-27', 'auto');
	  ga('send', 'pageview');
	 </script>
	
	<title>
		<%= @title if @title %>
		<%= "Village - Toronto News" if !@title %>
	</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	
	<meta property="og:image" content="http://www.itsonvillage.com/<%= @facebook_image if @facebook_image %>" />
	<meta property="og:title" content="http://www.itsonvillage.com/<%= @facebook_description if @facebook_description %>" />	

</head>
<body class="<%= @body_class if @body_class %>" data-no-turbolink>

<div class="header">
	<%= link_to "Village - Toronto News", root_url, :id => 'logo' %>
	<ul class="user-nav">
		<% if can? :create, Post %>
			<li><%= link_to "New Post", new_post_url()  %></li>
		<% end %>
		<% if can? :create, Poll %>
			<li><%= link_to "New Poll", new_poll_url()  %></li>
		<% end %>
		<% if can? :create, Post %>
			<li><%= link_to "Statistics", "javascript:;", :id => 'show-post-stats'  %></li>
		<% end %>
		<% if user_signed_in? %>
			<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
		<% else %>
			<li><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :id => 'facebook-login' %></li>
		<% end %>
	</ul>

	<ul class="nav">
		<% if can? :create, Post %>
			<li id="mobile-only"><%= link_to "New Post", new_post_url()  %></li>
		<% end %>
		<% if user_signed_in? %>
			<li id="mobile-only"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
		<% else %>
			<li id="mobile-only"><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %></li>
		<% end %>
		<li><a href="mailto:steve@itsonvillage.com" id="contact">Contact</a></li>
	</ul>	
	<a href="javascript:;" id="toggle-mobile-navigation">Menu</a>
	<br class="clear">
</div>



		<% if notice %><p class="notice"><%= notice %></p><% end %>
		<% if alert %><p class="alert"><%= alert %></p><% end %>

		<%= yield %>


</body>
</html>
