<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//use.typekit.net/irv8fcc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>">	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-194873-27', 'auto');
	  ga('send', 'pageview');
	 </script>
	
	<title>Village</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	
	<meta property="og:image" content="<%= asset_url("facebook-image.jpg") %>" />
	<meta property="og:title" content="The best of Toronto news. Hand-picked daily." />
	

</head>
<body>

<div class="header">
	<%= link_to root_url do %><%= image_tag "logo@2x.png", :id => 'logo', :alt => "Village - Toronto News", :width => '88' %><% end %>
	<div class="sharrre">
  		<div class="twitter" data-url="http://www.itsonvillage.com" data-text="Village"></div>
  		<div class="facebook" data-url="http://www.itsonvillage.com" data-text="Village"></div>
	</div>	
	<a href="mailto:steve@itsonvillage.com" id="contact">Contact</a>
	
</div>

<div class="newsletter-prompt">
	<div class="inner">
		<p>Get our weekly email recap every Saturday morning:</p>
		<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1818289-3orQqeUtuK-v3"></script>
	</div>
</div>

<div class='wrapper'>
	
	<div class='main'>
		<%= yield %>
	</div>
	
	<br class="clear">
</div>

</body>
</html>
